<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>受付</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/stylesheets/reception.css">
</head>

<body>
  <div class="container">
    <div class="hedder">受付</div>
    <div class="buttons">
      <% for( let i=1; i < 13; i++ ) { %>
        <button onclick="on(<%= i %>);">診療室<span style="font-size:2em;">
            <%= i %>
          </span></button>
        <% } %>
          <button>オペ室</button>
          <button class="space"></button>
          <button class="space"></button>
          <button>取り消し</button>
    </div>
    <div class="log"></div>
  </div>
  <!--<button onclick="recover()">プリンター再始動</button>-->



  <script>
    var socket = io.connect();
    //追加ボタン押された時の処理
    function on(i) {
      socket.emit('add', { room: '診療室' + i })
      confirm('追加しました')
    }
    //画面起動時の処理
    window.onload = function () {
      socket.emit('reqList', {});
    }
  </script>
  <%-include('epos')%>
    <%-include('print')%>
      <%-include('correctLog')%>

        <style>
          .container {
            min-height: 100vh;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 14% 81%;

          }

          .hedder {
            grid-column-start: 1;
            grid-column-end: 3;
            background-color: cyan;
          }

          .buttons {
            grid-column-start: 1;
            grid-column-end: 2;
          }

          button {
            width: 20%;
            height: 18%;
            margin: 2%;
            background: rgb(183, 183, 183);
            background: linear-gradient(360deg, rgba(183, 183, 183, 1) 0%, rgba(248, 248, 248, 1) 43%, rgba(255, 255, 255, 1) 100%);
            border: 1px solid black;
            border-radius: 10px;
            font-size: 120%;

          }

          .log {
            border: 3px solid black;
            border-radius: 27px;
            height: 100%;
            margin-right: 3%;
            margin-top: 0%;
            box-sizing: border-box;
          }

          .space {/**/
            visibility: collapse;
          }
        </style>
</body>

</html>