<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>受付</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/stylesheets/reception.css">
</head>

<body> 
  
  <% for( let i = 1; i < 14; i++ ) { %>
    <button onclick="on(<%= i %>);">診療室<%= i %> </button>
  <% } %>
  <button onclick="location.href='http://localhost:8000/correct'">修正</button>
  <!--<button onclick="recover()">プリンター再始動</button>-->
 
 
  
  <script>
    //追加ボタン押された時の処理
    function on(i){
      request('add','診察室'+i);
      confirm('追加しました')
    }
    //画面起動時の処理
    window.onload=function(){
      request('reqList','null')
    }
  </script>
  <%-include('socket')%>      
  <%-include('epos')%>
  <%-include('print')%>
  <%-include('correctLog')%> 


</body>

</html>