<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>
    <%= roomName %>
  </title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="container">
    <div class="hedder">
      <div>
        <%= roomName %>
      </div>
    </div>
    <select id="list" class="select" size="7"></select>
    <div class="buttons">
      <div class="box">
        <button id="call" onclick="on('call');">呼び出し<img src="2512728.png" class="img"></button>
        <button id="enter" onclick="on('enter');">入室<img src="22093716.png" class="img"></button>
        <button id="leave" onclick="on('leave');">退室<img src="22093716.png" class="img"></button>
        <button onclick="location.href='http://localhost:8000/correct'">修正</button>
      </div>
    </div>
    <div class="log"></div>
  </div>
  <script>
    var socket = io.connect();
    //ボタンが押された時の処理
    function on(name) {
      let flag;

      switch (name) {
        case 'call':
          flag = '受付';
          break;
        case 'enter':
          flag = '受付';
          break;
        case 'leave':
          flag = '診療室';
          break;
      }
      if (list.selectedIndex === -1) {
        for (i = 0; i < listData.length; i++) {
          if (listData[i].room === '<%= roomName %>' && listData[i].status === flag) {
            socket.emit(name, { num: listData[i].number });
            return;
          }
        }
        alert('待っている人はいません')
      } else {
        socket.emit('call', { num: list.value })
      }
    }
    //画面起動時の処理
    window.onload = function () {
      socket.emit('reqList', {});
    }
  </script>
  <%-include('list',{room:roomName}) %>
    <%-include('correctLog')%>


      <style>
        .img {

          width: 13px;
          /*アイコンの横幅指定*/
          transform: translateY(0%);
          /*この指定で上下中央に*/
        }

        .container {
          min-height: 100vh;
          display: grid;
          grid-template-columns: 40% 30% 30%;
          grid-template-rows: 14% 76%;
        }

        .hedder {
          grid-column-start: 1;
          grid-column-end: 5;

          display: flex;
          justify-content: center;
          align-items: center;

          color: white;
          background-color: black;
          font-size: 200%;
        }


        .select {
          height: 80%;
          width: 80%;
          margin-top: auto;
          margin-left: 30%;
        }

        .buttons {
          grid-column: 2;
          display: flex;
          align-items: flex-end;
        }

        .box {
          width: 100%;
        }

        button {
          width: 40%;
          height: 8%;
          margin-left: 30%;
          margin-top: 16%;
          background: rgb(183, 183, 183);
          background: linear-gradient(360deg, rgba(183, 183, 183, 1) 0%, rgba(248, 248, 248, 1) 43%, rgba(255, 255, 255, 1) 100%);
          border: 1px solid black;
          border-radius: 10px;
          font-size: 120%;
        }

        .but1 {
          margin-top: 58%;
        }

        .log {
          border: 3px solid black;
          border-radius: 27px;
          height: 95%;
          margin-right: 40%;
          margin-top: auto;
          box-sizing: border-box;
        }
      </style>

</body>